pyrogram
tgcrypto
wget
pytz
psutil
motor
dnspython
GitPython
pykeyboard
bs4
Pillow
pymediainfo
opencv-python-headless
requests
youtube-search-python
rich==3.2.0
unidecode
attrify
pySmartDL
html2text
removebg
aiofiles 
py-tgcalls
aiohttp
gpytranslate
gtts
telegraph
openai
pyromod==1.1.0
APScheduler==3.7.0
git+https://github.com/yt-dlp/yt-dlp.git
